.git*            export-ignore
.hooks*          export-ignore

*                text=auto

*.gif            binary
*.ico            binary
*.jpg            binary
*.pdf            binary
*.png            binary
